.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.7px;

  white-space: nowrap;
  border-radius: 12px;
  transition: 0.2s all;
  cursor: pointer;
}

.active {
  background-color: red;
  color: #3A3A3A;
}
