.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  font-size: 16px;
  font-weight: 700;

  white-space: nowrap;
  border-radius: 5px;
  transition: 0.2s all;
  cursor: pointer;
  background-color: var(--primary-blue);
  color: var(--dark-100);
}

.active {
  background-color: var(--primary-red);
  color:  var(--dark-100);
}

.disabled {
  color: var(--dark-300);
  cursor: not-allowed;
}

.clear {
  width: 150px;
}