:root {
  --dark-100: #ffffff;
  --dark-300: #858c87;
  --dark-500: #595959;
  --dark-900: #000000FF;
  --light: #ffffff;
  --primary-green: #22BB00FF;
  --primary-ligth-blue: #6c6c95;
  --primary-blue: #4C4C9D;
  --primary-red: #ff0019;
  --primary-purple: #31081F;
}


body {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

button {
  all: unset;
}